*{
	margin:0px;
	padding:0px;
	font-family: Catull;
}
body{
	background-color: rgb(233,234,237);
}
img#logo{
			margin-top: 5px;
			margin-left:160px;
			height: 40px;
			width: 150px;
			position:absolute;
		}
#header{
	background-color: rgb(70,120,180);
	width:100%;
	height: 60px;
	position: absolute;
}